* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: 50px 0px;
    overflow: hidden;
}

/* gennarl section */
.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.tpc-double_heading {
    position: relative;
}

.dbl__title-wrapper {
    position: relative;
    z-index: 1;
    line-height: 0;
}

.shape-bg {
    position: absolute;
    content: '';
    width: 165px;
    height: 22px;
    border-radius: 50px;
    z-index: -1;
    top: 12px;
    left: 389px;
    background: #ffd24d;
}

.dbl__title {
    color: #072f60;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.3334em;
}

.accseor {
    text-align: center;
}

/* Header section css */
#header {
    position: relative;
    background-color: #fdfaf1;
}

button:hover {
    background-color: #072f60 !important;
    color: white;

}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1acc8d;
    border-top-color: #d2f9eb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #3bbca7;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    z-index: 996;
    visibility: hidden;
    opacity: 0;
}
.back-to-top i {
    color: white;
}
.back-to-top:hover {
    background: #2be4a2;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }



/* Happy client section css */
.happy-clients .happy-client-single-item .icons-logo {
    margin: -7px 30px 0px 0px;
    padding: 0px 0px 0px 0px;
}




/* Learning Tutorials section css */
.course-container {
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 7%);
    transition: all 0.3s linear;
    position: relative;
}

.course__media {
    z-index: 1;
}

.course__media .course__media-link:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    background: #1c2336;
    opacity: 0;
}

.card-image {
    height: 175px;
    width: 100%;
    object-fit: cover;

}

.course__content--info {
    position: relative;
    z-index: 1;
    padding: 20px 30px;
    border-bottom: 1px solid #ebebeb;
}

.course-top-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.course-categories a {
    font-size: 13px;
    border-radius: 3px;
    padding: 0 11px;
    line-height: 29px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #3bbca7;
    white-space: nowrap;
    background: #3bbca712;
}

.course-categories a:hover {
    background: #3bbca7;
    color: white;
}

.price {
    color: #072f60;
}

.course-title a {
    color: #072f60;
    font-size: 18px;
    line-height: 28px;
}

.course-title {
    line-height: 18px;
}

.tpc-course-author-name {
    margin-top: 15px;
    font-size: 15px;
    color: #838383;
    font-weight: 600;
}

.tpc-course-author-name img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 5px;
    display: initial;
}

.course-content-meta {
    padding: 17px 30px 17px 30px;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-meta-left span {
    color: #838383;
    margin-right: 10px;
}

.course-students i {
    color: #3bbca7;
    margin-right: 4px;
}

.course-lessons i {
    color: #3bbca7;
    margin-right: 4px;
}

.review-star {
    position: relative;
    line-height: 1;
    margin: 0 2px;
}

.review-star i {
    color: #ffb60a;
}

.dbl-title-wrapper {
    position: relative;
    z-index: 1;
    line-height: 0;
}

.dbl-title-1 {
    color: #072F60;
}

.dbl-title-2 {
    font-size: 17px;
    font-weight: 400;
    color: #666666;
}

.elementor-button-wrapper a {
    font-size: 16px;
    font-weight: 600;
    background-color: #3BBCA7;
    padding: 16px 26px 16px 26px;
    color: white;
    border-radius: 5px;
}

.elementor-button-wrapper a:hover {
    background-color: #072F60;
}


/* enroll now css */
.enroll {
    background-color: #FDFAF2;
}

.shape-bg2 {
    position: absolute;
    content: '';
    width: 165px;
    height: 22px;
    border-radius: 50px;
    z-index: -1;
    top: 15px;
    left: 342px;
    background: #ffd24d;
}

.items-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000000ad 0%, transparent 80%);
    border-radius: 3px;
    z-index: 1;
}

.items-cont {
    z-index: 2;
    padding: 0 35px 0 35px;
    top: 155px;
}

.course-cat {
    font-size: 18px;
    line-height: 28px;
    transition: all 0.4s linear;
}

.total-course {
    margin-top: 5px;
    font-size: 14px;
    line-height: 100%;
    transition: all 0.4s linear;
}

.icon-wrap a i {
    background: #3bbca7;
    font-size: 20px;
    height: 40px;
    width: 40px;
}

.items-image {
    transition: 0.5s all;
}

.items-image:hover {
    transform: scale(1.1);
}

/* Featured topics css */
.cat-carousel-box-content {
    margin-top: 30px;
}

.cat-carousel-title {
    font-size: 24px;
    font-weight: 600;
    color: #072f60;
}

.cat-carousel-box {
    position: relative;
    max-width: 174px;
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
}

.cat-carousel-shape-1 {
    background-color: #3bbca7;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    opacity: 0.102;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cat-carousel-box-icon {
    background-color: white;
    box-shadow: 0px 0px 62px 0px rgb(0 0 0 / 5%);
    width: 118px;
    height: 118px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.cat-carousel-box-icon a {
    background-color: white;
    box-shadow: 0px 0px 62px 0px rgb(0 0 0 / 5%);
    width: 118px;
    height: 118px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.cat-carousel-shape-2 {
    width: 74px;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: -1;
}

/* Our client css */
.dbl-title-1 {
    color: #072f60;
}

.dbl-title-2 {
    color: #3bbca7;
    font-size: 24px;
    font-weight: 600;
}

.dbl-title-3 {
    color: #072f60;
}

.dbl-title-wrapper {
    font-size: 24px;
    font-weight: 600;
}

/* Testimonials css */
.lmsmart-dubble-feedback {
    padding: 40px 110px;
    border-radius: 10px;
    background-color: #fdfaf1;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
}

.feedback-author-wrapper {
    border: 1px solid rgba(255, 211, 77, 0.3);
    border-radius: 50%;
    padding: 30px;
    position: relative;
}

.feedback-quote {
    position: absolute;
    top: 23px;
    right: 15px;
    border-radius: 50%;
    background-color: #3bbca7;
    width: 79px;
    height: 79px;
    line-height: 90px;
    text-align: center;
    font-size: 42px;
    color: #ffffff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-images-wrapper {
    border: 1px solid rgba(255, 211, 77, 0.3);
    border-radius: 50%;
    padding: 30px;
}

.feedback-content {
    width: 65%;
    padding-left: 70px;
    padding-top: 30px;
}

.single-feedback-content {
    width: 535px;
    transition-duration: 0ms;
    /* opacity: 0; */
    transform: translate3d(0px, 0px, 0px);
    margin-right: 20px;
}

.feedback-text {
    color: #072f60;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.66;
}

.feedback-name {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1.66;
    color: #072f60;
}

.feedback-degree {
    color: #666666;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}

/* News and blogs css */
.format-standard-image {
    transition: 0.3s;
    box-shadow: 0px 0px 98px 0px rgb(0 0 0 / 7%);
    overflow: hidden;
    border-radius: 10px;
}

.blog-post {
    position: relative;
    margin-bottom: 30px;
}

.blog-post-wrapper {
    position: relative;
    transition: inherit;
}

.post-categories {
    display: inline-block;
    position: absolute;
    z-index: 99999;
    top: 35px;
    left: 35px;
}

.post-categories span {
    display: inline-block;
    position: relative;
    margin: 0;
    line-height: inherit;
    margin-right: 20px;
}

.post-categories span a {
    background: #3bbca7;
    color: white;
    border: unset;
    font-size: 14px;
    border-radius: 100px;
    line-height: 40px;
    padding: 5px 15px;
    font-weight: 500;
}

.blog-post-media {
    position: relative;
    z-index: 1;
}

.blog-post-media-part {
    position: relative;
    border-radius: 0;
    line-height: 0;
    overflow: hidden;
}

.image-overlay {
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: inherit;
}

.blog-post-content {
    background: #ffffff;
    box-shadow: 0px 0px 98px 0px rgb(0 0 0 / 7%);
    z-index: 1;
    padding: 25px;
    position: relative;
}

.post-meta-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 15px;
}

.meta-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
}

.post-author {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    padding: 0;
    margin: 0;
    line-height: inherit;
    margin-right: 15px;
}

.post-author i {
    margin-right: 5px;
    color: #3bbca7;
}

.post-author-name {
    color: gray;
}

.post-author-name:hover {
    color: #3bbca7;
}

.comments-post {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    padding: 0;
    margin: 0;
    line-height: inherit;
    margin-right: 15px;
}

.comments-post i {
    margin-right: 5px;
    color: #3bbca7;
}

.comments {
    color: gray;
}

.comments:hover {
    color: #3bbca7;
}

.blog-post-title {
    display: block;
    margin-bottom: 14px;
    line-height: 30px;
    word-wrap: break-word;
    clear: both;
}

.blog-post-title a {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    color: #072f60;
    transition: 0.3s all;
}

.blog-post-title a:hover {
    color: #3bbca7;
}

.blog-post-text {
    font-size: 16px;
    color: gray;
}

.videobox-link-wrapper {
    top: 50%;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videobox-link {
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    fill: #072f60;
    display: block;
    position: relative;
    flex-shrink: 0;
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;
}

.videobox_icon {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    transition: 0.3s;
}

.videobox-link:hover {
    background-color: #3bbca7;
    fill: white;
}


.st-business-bg {
    background: #3BBCA7;
    padding: 50px 90px 50px 90px;
    transition: 0.5s all;
}

.business-button-wrapper a {
    color: #1B2336;
    padding: 16px 26px 16px 26px;
}

.elementor-heading-title {
    margin-bottom: 30px !important;
}

.business-button-wrapper a:hover {
    background-color: #072f60;
    color: white;
}

.right-bg-image {
    /* background-image: url(//img/SHP3.png); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-widget-image {
    text-align: center !important;
    display: flex;
    justify-content: center;
}

/* footers section css */
footer {
    background-color: #F6F7F9;
}

.social-icon i {
    background-color: #3BBCA700;
    --icon-padding: 11px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #3BBCA7;
    padding: 11px;
    border-radius: 50px;
    color: #3BBCA7;
    transition: 0.6 ease-out;
}
.social-icon i:hover{
    background-color: #3BBCA7;
    color: white;
}
.elementor-icon-list-item a {
    color: #666666;
    font-weight: 500;
    transition: 0.5 ease-in-out;
}
.elementor-icon-list-item a:hover{
    color: #3BBCA7;
}
.elementor-divider-separator{
    border-top: 1px solid #EBEBEB !important;
}
.elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}